html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit; 
        }
html,
body {
    height: 100%;
    color: #0C3E2E;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Balsamiq Sans', sans-serif;
    font-family: 'Kaisei Decol', serif; */
}
.title{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    color: inherit; 
}
ul {
    list-style: none; 
}
button {
    background-color: transparent;
    border: none;
    padding: 0;
}
svg path {
    stroke:inherit;
    stroke-width:inherit;
    fill:inherit;
}
/* класс для единого отступа для всех секций, если они одинаковы в макете*/
.section-mb{
    margin-bottom: 150px;
}
.section-ms{
    margin-bottom: 110px;
}
.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}
.container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}
.header{
    background-image: url(../images/header-bg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-bottom: 150px;
}
.header__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header-top{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.menu__list{
    display: flex;
    gap: 0 30px;
}
.menu__link{
    text-transform: uppercase;
    font-size: 16px;
}
.phone{
    color: #BB8A52;
}
.header-content__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 22px;
}
.header-content__text{
    max-width: 510px;
}
.header-content__text span{
    color: #CC2E2E;
}
.header-content__title{
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    margin: 20px 0 80px;
    max-width: 427px;
}
.header-content-btn{
    background-color: #FFBA00;
    padding: 20px 32px;
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
}
.header-content-btn:hover{
    background-color: #0C3E2E;
    color: #D9D9D9;
}
.header-content-btn:active{
    background-color: #0C3E2E;
    color: #FFBA00;
}
.header__text{
    font-size: 24px;
    text-align: center;
    padding: 25px 0;
}
.main{
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.about__inner-text {
    max-width: 506px;
    margin-bottom: 30px;
}
.about__inner-text span{
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 24px;
}
.about__inner-title {
    font-size: 28px;
    margin-bottom: 30px;
}
.about__inner-list {
    display: flex;
    gap: 0 30px;
    text-align: center;
    color: #BB8A52;
}
.about__inner-list dt{
    font-size: 48px;
    margin-bottom: 5px;
}
.why__text{
    max-width: 580px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.why__inner{
    display: flex;
    align-items: center;
    gap: 22px;
}
.why__inner-list{
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 10px;
}
.why__inner-item::before{
    content: counter(my-counter);
    counter-increment: my-counter;
    padding-right: 5px;
}
.why__inner-item{
    font-size: 28px;
    font-weight: 600;
}
.why__inner-item + .why__inner-item{
    margin-top: 50px;
}
.why__inner-item.pl--60{
    padding-left: 60px;
}
.why__inner-item.pl--90{
    padding-left: 90px;
}
.projects__text{
    font-size: 28px;
    font-weight: 600;
    max-width: 640px;
    margin-bottom: 30px;
}
.projects__gallery{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.projects__gallery-img{
    max-width: 100%;
}
.projects__gallery-item{
    gap: 20px;
}
.projects__gallery-text{
    text-align: center;
    padding: 20px 0 20px;
}
.gallery--item{
    grid-area: span 2;
}
.services{
    padding: 20px 0 40px;
    background: rgba(109, 151, 115, 0.10);
}
.services__text{
    font-size: 28px;
    font-weight: 600;
    max-width: 587px;
    margin-bottom: 30px;
}
.services__list{
    display: flex;
    padding: 0 25px;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
}
.services__item-text{
    font-size: 24px;
    padding-top: 20px;
}
.prices__text{
    font-size: 28px;
    max-width: 730px;
    margin-bottom: 50px;
}
.prices__box{
    display: flex;
    gap: 22px;
}
.prices__list{
    padding: 60px 55px 88px;
    border: 2px solid #FFBA00;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prices__item-first{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}
.prices__item{
    font-size: 24px;
    max-width: 442px;
    text-align: left;
    margin-bottom: 10px;
}
.prices__item-sum{
    font-size: 36px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 94px;
}
.prices__item-sum sup{
    font-size: 16px;
    padding-bottom: 20px;
}
.prices__item-btn{
    font-size: 20px;
    display: block;
    padding: 20px;
    background-color: #FFBA00;
}
.prices__item-btn:hover{
    background-color: #0C3E2E;
    color: #D9D9D9;
}
.prices__item-btn:active{
    background-color: #0C3E2E;
    color: #FFBA00;
}
.work__list{
    list-style-type: none;
    counter-reset: my-counter;
    max-width: 1070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 15px;
}
.work__item{
    font-size: 28px;
    font-weight: 600;
    position: relative;
    line-height: 185px;
    padding-left: 64px;
    
}
.work__item::before{
    content: counter(my-counter, decimal-leading-zero);
    counter-increment: my-counter;
    font-size: 128px;
    font-family: 'Kaisei Decol', serif;
    color: rgba(109, 151, 115, 0.20);
    font-weight: 400;
    letter-spacing: -12px;
    position: absolute;
    left: 0;
    -webkit-text-stroke: 1px rgb(109, 151, 115);
    text-stroke: 1px rgb(109, 151, 115);
}
.team__text{
    font-size: 28px;
    margin-bottom: 50px;
}
.team__list{
    display: flex;
    justify-content: center;
    gap: 0 50px;
}
.team__item{
    width: 200px;
}
.team__item-img{
    border: 1px solid #FFBA00;
}
.team__item-name{
    padding: 10px 0 15px;
    text-align: center;
}
.team__item-descr{
    text-align: center;
}
.questions {
    margin-bottom: 110px;
}
.accordeon {
    column-count: 2;
    gap: 0 22px;
    
}
.questions__accordeon {
    
}
.accordeon__item {
    margin-bottom: 40px;
    width: 100%;
}
.accordeon__title {
    font-size: 24px;
    text-align: left;
    border: none;
    border-radius: none;
    cursor: pointer;
    margin-bottom: 15px;
    padding-right: 70px;
    position: relative;
    width: 90%;
}
.accordeon__title::after{
    content: '';
    position: absolute;
    background-image: url(../images/accordeon-arrow.svg);
    width: 15px;
    height: 26px;
    top: 3px;
    right: 50px;
}
.accordeon__descr {
    display: none;
}
.contact-form__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form__content {
}
.contact-form__text {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.form__text {
    margin-bottom: 15px;
}
.form__input {
    max-width: 520px;
    width: 100%;
    display: inline-block;
    border: none;
    border-bottom: 1px solid#0C3E2E;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.form__input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #D9D9D9;
}
.form__btn {
    font-family: 'Inter', sans-serif;
    background-color: #FFBA00;
    display: inline-block;
    padding: 20px 41px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    cursor: pointer;
}
.form__btn:hover{
    background-color: #0C3E2E;
    color: #D9D9D9;
}
.form__btn:active{
    background-color: #0C3E2E;
    color: #FFBA00;
}
.form__link {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.form__link span{
    border-bottom: 1px solid #0C3E2E;
}
.form__link img{
    margin-left: 31px;
}
.contact-form__images {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form-img-3{
    grid-column: 1 / -1;
}
.contact-form-img {
    border-radius: 40px;
    border: 1px solid #FFBA00;
}
.reviews__slider{
    padding-bottom: 55px;
}
.reviews__item{
    font-size: 24px;
}
.reviews__item-name{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.reviews__item-photo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.reviews__item-text{
    padding: 10px;
    text-align: justify;
}
.reviews__item-arrow{
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.reviews__item-prev{
    left: 50%;
    transform: translateX(-69px);
}
.reviews__item-next{
    right: 50%;
    transform: translateX(69px);
}
.contacts__inner{
    display: flex;
    gap: 0 22px;
}
.contacts__text{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 70px;
}
.contacts__info{
    font-size: 20px;
}
.contacts__info dt{
    margin-top: 20px;
}
.footer{
    background: rgba(109, 151, 115, 0.1);
    padding: 40px 0 47px;
}
.footer__inner{
    display: flex;
    gap: 0 22px;
}
.footer__left{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__menu{
    font-size: 16px;
    text-transform: uppercase;
}
.footer__menu-item{
    margin-bottom: 20px;
}
.social__list{
    display: flex;
    gap: 0 20px;
}
.social__list-link:hover{
    stroke: #0C3E2E;
    fill: #0C3E2E;
}
.social__list-link svg:hover{
    stroke: #0C3E2E;
    fill: #0C3E2E;
}
.footer__right{
    width: 100%;
    padding-left: 30px;
}
.footer__logo img{
    width: 137px;
    height: 87px;
    margin-bottom: 42px;
}
.footer__text{
    font-size: 36px;
    font-weight: 600;
    max-width: 322px;
}
.header-content-btn-desc{
    display: inline-block;
}
.header-content-btn-mob,
.header__text-mob,
.menu__btn{
    display: none;
}



/******АДАПТИВ******/
@media (max-width: 1210px){
    .about__img,
    .why__img{
        max-width: 470px;
    }
}
@media (max-width: 1000px){
    .header,
    .section-mb,
    .section-ms{
        margin-bottom: 100px;
    }
    .header-content__img{
        max-width: 470px;
    }
    .header-content__title{
        margin-bottom: 40px;
    }
    .header-content-btn{
        margin-top: 40px;
    }
    .title{
        margin-bottom: 30px;
    }
    .about__inner-title{
        margin-bottom: 20px;
    }
    .about__inner-list dt{
        font-size: 36px;
    }
    .about__inner-list dd{
        font-size: 14px;
    }
    .why__inner-item{
        font-size: 24px;
    }
    .why__inner-list{
        padding-left: 0;
    }
    .projects__gallery{
        gap: 20px 10px;
    }
    .prices__list{
        padding: 60px 14px 40px;
    }
    .work__list{
        max-width: 100%;
    }
    .work__item::before{
        font-size: 96px;
        letter-spacing: -9px;
    }
    .work__item{
        padding-left: 29px;
    }
}
@media (max-width: 910px){
    .services__list{
        flex-wrap: wrap;
        padding: 0;
        gap: 20px 0;
    }
    .services__item{
        width: 50%;
    }
}
@media (max-width: 870px){
    .why__img{
        max-width: 320px;
    }
}
@media (max-width: 840px){
    .header{
        background-size: auto;
    }
    .header-top{
        align-items: center;
    }
    .header-content__img{
        max-width: 370px;
    }
    .header-content__title{
        font-size: 28px;
        line-height: 34px;
    }
    .menu__btn{
        display: inline-block;
        border: none;
        background-color: transparent;
        padding: 0;
        position: relative;
        z-index: 2;
    }
    .menu__list{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 70px 0;
        font-weight: 700;
        z-index: 1;
        background-color: rgb(231, 236, 232);
        transform: translateY(-120%);
        transition: transform .3s ease;
    }
    .menu__list.menu-open{
        transform: translateY(0%);
    }
    .menu__link{
        padding: 15px 0;
        display: block;
    }
    .menu{
        order: -1;
    }
    .about__inner{
        display: block;
    }
    .about__img{
        display: flex;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    .about__inner-text{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .about__inner-title{
        text-align: center;
    }
    .about__inner-list{
        justify-content: center;
    }
    .projects__gallery{
        gap: 20px 10px;
    }
    .prices__box{
        flex-direction: column;
        align-items: center;
    }
    .prices__list{
        max-width: 470px;
        margin: 0 auto;
    }
    .prices__item-first{
        font-size: 28px;
    }
    .prices__item{
        font-size: 18px;
        text-align: center;
    }
}
@media (max-width: 768px){
    .header,
    .section-mb,
    .section-ms{
        margin-bottom: 90px;
    }
    .header-content__title{
        margin-bottom: 25px;
        max-width: 100%;
    }
    .header__text{
        display: none;
    }
    .header-content{
        margin: auto 0;
    }
    .header-content__inner{
        display: block;
        text-align: center;
    }
    .header-content__box{
        padding-top: 20px;
    }
    .header-content__text{
        margin: 0 auto;
    }
    .header-content-btn-desc{
        display: none;
    }
    .header-content-btn-mob{
        display: inline-block;
        padding: 20px 85px;
    }
    .header-content__img{
        max-width: 100%;
        margin-top: 35px;
    }
    .title{
        font-size: 28px;
    }
    .about__inner-title{
        font-size: 24px;
    }
    .about__inner-text {
        font-size: 16px;
    }
    .about__inner-text span{
        font-size: 20px;
    }
    .about__inner-list dt{
        font-size: 28px;
    }
    .about__inner-list dd{
        font-size: 18px;
    }
    .why__text{
        font-size: 24px;
    }
    .why__inner-item{
        font-size: 18px;
    }
    .why__inner-item + .why__inner-item{
        margin-top: 40px;
    }
    .why__inner-item.pl--60{
        padding-left: 45px;
    }
    .why__inner-item.pl--90{
        padding-left: 75px;
    }
    .projects__text{
        font-size: 24px;
    }
    .projects__gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .gallery--item{
        display: none;
    }
    .services__text{
        font-size: 24px;
    }
    .services__item-text{
        font-size: 20px;
    }
    .prices__list{
        padding: 30px 68px 40px;
    }
    .prices__text{
        font-size: 24px;
    }
    .prices__item-first{
        font-size: 28px;
    }
    .prices__item{
        font-size: 18px;
    }
    .work__item::before{
        font-size: 64px;
        letter-spacing: -6px;
    }
    .work__item{
        font-size: 18px;
        padding-left: 40px;
        line-height: 93px;
    }
    .footer__text{
        font-size: 28px;
    }
    .footer__logo img{
        margin-bottom: 60px;
    }
}
@media (max-width: 640px){
        .why__img{
        max-width: 170px;
    }
    .why__text,
    .why__inner-item{
        font-size: 14px;
    }
    .why__inner-item + .why__inner-item{
        margin-top: 10px;
    }
    .why__inner-item.pl--60{
        padding-left: 15px;
    }
    .why__inner-item.pl--90{
        padding-left: 30px;
    }
    .footer__inner{
        gap: 0;
    }
    
}
@media (max-width: 500px){
    .container{
        max-width: 1220px;
        padding: 0 10px;
    }
    .title{
        font-size: 24px;
        font-weight: 500;
    }
    .header,
    .section-mb,
    .section-ms{
        margin-bottom: 50px;
    }
    .header-top{
        flex-wrap: wrap;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .phone{
        order: -1;
    }
    .about__inner-list{
        gap: 0 10px;
    }
    .about__inner-list dt{
        font-size: 28px;
    }
    .about__inner-list dd{
        font-size: 16px;
    }
    .why__inner{
        gap: 0;
    }
    .projects__text{
        font-size: 14px;
    }
    .projects__gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects__gallery-img{
        width: 100%;
    }
    .projects__gallery-item:nth-child(3),
    .projects__gallery-item:first-child{
        display: flex;
        flex-direction: column;
    }
    .projects__gallery-item:nth-child(3) img,
    .projects__gallery-item:first-child img{
        order: -1;
    }
    .projects__gallery-text{
        padding: 0 0 30px;
    }
    .services__item img{
        max-width: 100%;
    }
    .services__text,
    .services__item-text{
        font-size: 14px;
    }
    .prices__list{
        padding: 10px 15px 28px;
    }
    .prices__item-btn{
        margin-left: -15px;
        margin-right: -15px;
    }
    .prices__text{
        font-size: 14px;
    }
    .prices__item-first{
        font-size: 24px;
    }
    .prices__item{
        font-size: 14px;
    }
    .prices__item-sum{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .work__item::before{
        font-size: 36px;
        letter-spacing: -3px;
    }
    .work__item{
        font-size: 14px;
        padding-left: 10px;
        line-height: 52px;
    }
    .footer__left{
        align-items: flex-start;
    }
    .footer__right{
        padding: 0;
    }
    .footer__text{
        font-size: 18px;
    }
    .footer__logo img{
        margin-bottom: 45px;
    }
}
@media (max-width: 360px){
    
    .header-content__title{
        margin: 12px 0 20px;
    }
    .header-content__text{
        display: none;
    }
    .header-content-btn-mob{
        display: block;
        padding: 20px 50px;
    }
    .header__text-mob{
        display: block;
        font-size: 16px;
        text-align: center;
        padding: 30px 0;
        line-height: 1.3;
    }
    .header__text-mob span{
        color: #CC2E2E;
    }
}