@font-face {
	font-family: 'd_Kallisto';
	src: url('../fonts/d_kallisto.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/d_kallisto.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/d_kallisto.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/d_kallisto.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/d_kallisto.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/d_kallisto.svg#d_kallisto') format('svg'); /* Chrome < 4, Legacy iOS */
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
          box-sizing: inherit; 
        
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}
html,
body {
    height: 100%;
    font-family: 'd_Kallisto';
    color: #616160;
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 500;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
}
a {
    text-decoration: none;
    color: inherit; 
}
ul {
    list-style: none;
}
button {
    font-family: 'd_Kallisto';
    background-color: transparent;
    border: none;
    padding: 0;
}
.wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; 
}
.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}
.container{
    max-width: 102.5rem;
    padding: 0 1.25rem;
    margin: 0 auto;
}
.header {
    /* background-image: url(../images/content-img.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-y: 100%; */
}
.header__inner {
    padding: 1.5625rem 0;
    display: flex;
    justify-content: space-between;
}
.header__logo img,
.footer__logo img{
    width: 12.5rem;
}
.header__logo-mobile{
    display: none;
}
.header__logo-mobile img{
    height: 3.125rem;
}
.menu {
    display: flex;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.5625rem;
    font-weight: 700;
}
.menu__btn{
    display: none;
    width: 2.5rem;
    height: 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
.menu__btn span{
    background-color: #000000;
    height: 0.125rem;
    width: 100%;
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    z-index: 3;
}
.menu--close{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color .6s ease;
}
.menu--close.menu--open{
    display: block;
}
.menu__close {
    display: none;
}
.menu__item{

}
.menu__link {
	position: relative;
	font-size: 1.25rem;
	text-decoration: none;
}

.menu__link::before {
	content: '';
	position: absolute;
	left: 0; bottom: -0.3125rem;
	width: 0;
	height: 0.0938rem;
	background-color: #28b8e8;
}

.menu__link:hover:before {
	width: 100%;
}

.menu__link::before {
	transition: width 0.35s;
}
.phone {
    display: flex;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.25rem;
    font-weight: 700;
    position: relative;
    gap: 0 0.625rem;
}
.phone-mobile{
    display: none;
}
.phone img{
    width: 1.5625rem;
    height: 1.5625rem;
}
.phone-mobile img{
    width: 2.1875rem;
    height: 2.1875rem;
}
.header__content-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.25rem;
    align-items: center;
}
.header__content{
    display: flex;
    flex-direction: column;
    margin-top: 6.5625rem;
}
.header__content-title{
    font-size: 7.5rem;
    margin-bottom: 1.875rem;
    color: #28b8e8;
}
.header__content-title span{
    color: #70b634;
}
.header__content-text{
    font-size: 1.5rem;
    margin-bottom: 4.375rem;
}
.header__content-btn{
    padding: 1.25rem 2.5rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background: #28b8e8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    width: 13.125rem;
}
.header__content-btn:hover{
    background: #166ef3;
}
.header__content-btn:active{
    color: #FFFFFF;
    background: #70b634;
}
.header__content-img{
    max-width: 100%;
    margin-left: 1.875rem;
}
.header__img{
    max-width: 46.875rem;
}
.header__img img{
    max-width: 100%;
}
.news {
    padding: 6.25rem 0;
}
.news__title{
    font-size: 2.5rem;
    margin-bottom: 3.125rem;
    text-align: center;
}
.news__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 1.25rem;
    justify-content: center;
}
.news__item {
    flex-basis: 36.25rem;
    display: flex;
    gap: 1.25rem;
}
.news__item img{
    border-radius: 1.25rem;
    object-fit: cover;
    width: 16.875rem;
    height: 11.25rem;
}
.news__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.news__item-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.625rem;
    min-height: 5.375rem;
}
.news__item-link {
    font-size: 0.8125rem;
    font-weight: 700;
    margin-top: auto;
    position: relative;
    color: #FFFFFF;
    background-color: #28b8e8;
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem 0.625rem 1.375rem; 
    max-width: 9.0625rem;
}
.news__item-link:hover{
    background: #166ef3;
}
.news__item-link:active{
    color: #FFFFFF;
    background: #70b634;
}
.news__item-link::after{
    content: '';
    background-image: url(../images/arrow.svg);
    width: 0.3125rem;
    height: 0.625rem;
    margin-left: 0.5rem;
    position: absolute;
    top: 0.75rem;
}
.project {
    padding: 6.25rem 0;
}
.project__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.project__text {
    margin: 0 auto 2.5rem;
    text-align: center;
    line-height: 165.4%;
    max-width: 53.25rem;
}
.project__list {
    display: flex;
    justify-content: space-between;
    gap: 1.5625rem;
}
.project__item {
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
}
.project__item:hover {
    box-shadow: 0rem 1.8125rem 2.75rem 0rem rgba(150, 150, 150, 0.25);
    background: rgb(255, 255, 255);
}
.project__item-img {
    border-radius: 1.875rem 1.875rem 0rem 0rem;
    margin-bottom: 1.5625rem;
    max-width: 100%;
}
.project__item-title {
    padding: 0 1.75rem;
    margin-left: 0;
    margin-bottom: 0.125rem;
    max-width: 24.5625rem;
    line-height: normal;
}
.project__item-info {
    display: flex;
    justify-content: space-between;
    margin: auto 1.75rem 1.5625rem;
}
.project__item-prof {
    color: #70b634;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}
.project__item-social {
}
.project__item-icons {
    margin-left: 1.0625rem;
}
.services{
    padding: 6.25rem 0;
}
.services__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.875rem;
}
.services__text{
    max-width: 56.25rem;
    text-align: center;
    margin: 0 auto 3.125rem;
    line-height: 165.4%;
}
.services__list{
    display: flex;
    justify-content: center;
    gap: 1.5625rem;
}
.services__item{
    display: flex;
    flex-direction: column;
    max-width: 28.125rem;
    padding: 1.5625rem;
    border-radius: 1.5625rem;
    background-color: #f0ece5;
}
.services__item:hover {
    box-shadow: 0rem 1.8125rem 2.75rem 0rem rgba(150, 150, 150, 0.25);
}
.services__item-img{
    max-height: 15.625rem;
    display: flex;
    margin: 0 auto;
}
.services__item-name{
    margin-top: 1.5625rem;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
}
.services__price{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}
.services__btn{
    margin: auto auto 0.625rem;
    width: 12.5rem;
    text-align: center;
    padding: 0.625rem 1.875rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background: #28b8e8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.services__btn:hover{
    background: #166ef3;
}
.services__btn:active{
    color: #FFFFFF;
    background: #70b634;
}
.contacts{
    padding: 6.25rem 0;
}
.contacts__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.875rem;
}
.contacts__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 51.875rem;
    margin: 0 auto;
    gap: 0 0.9375rem;
}
.contacts__input{
    width: 16.5625rem;
    height: 2.75rem;
    border: 0.0625rem solid #D9D9DE;
    padding: 0.6875rem 0.875rem 0.75rem;
    margin-bottom: 1.75rem;
    font-size: 1rem;
    line-height: 130%;
}
.contacts__input::placeholder,
.contacts__area::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 130%;
    color: #C4C4C4;
}
.contacts__area{
    width: 100%;
    height: 7.0625rem;
    border: 0.0625rem solid #D9D9DE;
    padding: 0.875rem;
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 3.125rem;
    resize: none;
}
.contacts__btn{
    display: flex;
    width: 15rem;
    height: 5rem;
    padding: 1.75rem 0.9375rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #28b8e8;
    cursor: pointer;
    margin-top: auto;
}
.contacts__btn-text{
    font-size: 1rem;
    font-weight: 700;
}
.contacts__btn:hover{
    background: #166ef3;
}
.contacts__btn:active{
    color: #FFFFFF;
    background: #70b634;
}
.documents{
    padding: 6.25rem 0;
}
.documents__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 1.875rem;
}
.documents__items{
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
}
.documents__item{
    width: 100%;
}
.documents__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -5.3125rem;
    right: 0;
}
.slick-prev{
    right: 3.75rem;
}
.footer{
    padding: 1.5625rem 0;
}
.footer__inner{
    display: flex;
    justify-content: center;
    gap: 0 3.125rem;
    margin-bottom: 0.9375rem;
}
.footer__phone-img{
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}
.footer__phone-box{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    font-size: 1.5625rem;
    font-weight: 700;
}
.footer__phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}
.footer__text{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
}
#upBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1.25rem; /* Place the button at the bottom of the page */
    right: 1.875rem; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.9375rem; /* Some padding */
}



/******* АДАПТИВ*******/
@media(max-width: 1440px) {
    .phone{
        font-size: 1.125rem;
    }
    .header__content-box {
        justify-content: space-evenly;
    }
    .menu__link{
        font-size: 1.125rem;
    }
    .header__content{
        margin-top: 2.5rem;
    }
    .footer__phone{
        font-size: 1.125rem;
    }
    .services__item {
        max-width: 25rem;
        padding: 1.25rem;
    }
    .services__item-img {
        max-height: 11.25rem;
    }
}
@media(max-width: 1280px) {
    .menu__list {
        gap: 0.9375rem;
    }
    .header__content-title {
        font-size: 6.25rem;
        margin-bottom: 1.5625rem;
    }
    .news__item{
        flex-basis: 28.125rem;
    }
    .news__list{
        gap: 4.1875rem 1.25rem;
    }
    .news__item-title{
        font-size: 1.125rem;
    }
    .news__item-img{
        max-width: 14.375rem;
    }
}

@media(max-width: 1120px) {
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 30rem;
        margin: 0 auto;
        background-color: #70b634;
        display: block;
        text-align: center;
        padding: 5rem 0;
        transition: transform .6s ease;
        gap: 2.5rem 0;
    }
    .menu__list.menu--open{
        transform: translateY(0);
    }
    .menu__close-btn{
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
    }
    .menu__item{
        margin-top: 2.5rem;
        margin-bottom: 1.875rem;
    }
    .menu__link{
        font-size: 1.5625rem;
        color: #FFFFFF;
    }
    .menu__link::before {
        background-color: #ffffff;
    }
    .menu__btn{
        display: flex;
    }
    .menu__close{
        display: block;
    }
    .menu{
        order: -1;
        margin-right: 0;
    }
    .header__content-title {
        font-size: 5rem;
    }
    .services__item-img {
        max-height: 8.125rem;
    }
    .services__item-name {
        font-size: 1.5625rem;
    }
    .services__price {
        font-size: 1.125rem;
    }
}
@media(max-width: 1024px) {
    .news__item{
        gap: 0.625rem;
        flex-basis: 20.625rem;
    }
    .news__list{
        gap: 2.5rem 1.25rem;
    }
    .news__item-title{
        font-size: 0.875rem;
        line-height: 130%;
    }
    .news__item-img{
        max-width: 10.625rem;
        max-height: 7.1875rem;
    }
    .services__price {
        font-size: 0.9375rem;
    }
}

@media(max-width: 940px) {
    .section-padding{
        padding: 3.75rem 0;
    }
    .header {
        background-size: 25%;
    }
    .header__content {
        margin-top: 0rem;
    }
    .header__content-title {
        font-size: 3.75rem;
        margin-bottom: 1.125rem;
    }
    .header__content-text {
        margin-bottom: 3.4375rem;
    }
    .project__item-img {
        margin: 0 auto;
        max-width: 12.5rem;
    }
    .contacts__input{
        width: 14.375rem;
    }
    .services__item {
        padding: 0.625rem;
    }
    .services__item-img {
        max-height: 6.25rem;
    }
    .services__item-name {
        font-size: 1.25rem;
    }
    .services__price {
        flex-direction: column;
        margin: 0 auto 1.5625rem;
    }
    .services__price dt{
        text-align: center;
        font-weight: 700;
        margin-bottom: 0.625rem;
    }
    .services__price dd{
        text-align: center;
    }
    .services__btn {
        width: 11.25rem;
        padding: 0.625rem 1.25rem;
    }
}
@media(max-width: 768px) {
    .phone {
        font-size: 0.75rem;
    }
    .header__content-box{
        justify-content: space-around;
    }
    .header__content-title {
        font-size: 2.5rem;
    }
    .header__content-text{
        font-size: 1.125rem;
    }
    .footer__inner {
        gap: 0 1.25rem;
    }
    .footer__phone{
        font-size: 0.75rem;
    }
    .news__list{
        justify-content: center;
        margin: 0 auto;
    }
    .news__item:nth-child(odd){
        margin-right: auto;
    }
    .news__item:nth-child(even){
        margin-left: auto;
    }
    .project__list{
        flex-direction: column;
    }
    .project__item-img {
        margin: 0 auto;
        max-width: 18.75rem;
        object-fit: contain;
    }
    .project__item-title {
        max-width: 100%;
        text-align: center;
    }
    .project__item-info{
        margin: 0 auto;
    }
    .contacts__form{
        justify-content: center;
        max-width: 35.625rem;
    }
    .contacts__input {
        width: 11.25rem;
    }
    .services__list {
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem;
    }
    .services__item {
        width: 31.25rem;
    }
    .services__item-img {
        max-height: 15.3125rem;
    }
}
@media(max-width: 560px) {
    .h2-title{
        font-size: 1.875rem;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__content-text {
        font-size: 0.9375rem;
    }
    .phone {
        display: none;
    }
    .phone-mobile{
        display: flex;
        align-items: center;
    }
    .menu__list{
        width: 25rem;
    }
    #upBtn {
        display: none;
        position: fixed;
        bottom: 0.3125rem;
        right: 0.3125rem;
        z-index: 99;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0.625rem;
    }
}
@media(max-width: 480px) {
    .header__logo{
        display: none;
    }
    .header__logo-mobile{
        display: block;
    }
    .header__content-box{
        display: flex;
        margin: 2.5rem 0 auto;
        justify-content: center;
        align-items: center;
    }
    .header__img{
        display: none;
    }
    .header__content-title {
        font-size: 4.0625rem;
        text-align: center;
    }
    .header__content-text {
        font-size: 1.25rem;
        text-align: center;
    }
    .header__content-btn{
        margin: 0 auto;
    }
    .header__content-img {
        max-width: 75%;
        margin: 0 0 0 8.375rem;
    }
    .menu__list{
        width: 18.75rem;
    }
    .footer__inner{
        display: flex;
        flex-direction: column;
    }
    .footer__logo{
        margin: 0 auto;
    }
    .footer__phone-box{
        margin: 0 auto;
    }
    .footer__phone-img{
        display: none;
    }
    .footer__phone{
        flex-direction: row;
        margin-top: 0.9375rem;
    }
    .footer__text{
        margin-top: 1.25rem;
        font-size: 0.625rem;
    }
    .news__item{
        flex-basis: 18.75rem;
        margin: 0 auto;
    }
    .news__list{
        gap: 1.875rem;
    }
    .news__item-title{
        font-size: 0.625rem;
        line-height: 130%;
        min-height: 3.75rem;
    }
    .news__item-img{
        max-width: 9.0625rem;
        max-height: 6.25rem;
    }
    .news__item-link{
        font-size: 0.625rem;
    }
    .contacts__input{
        width: 100%;
    }
    .services__item {
        width: 16.25rem;
    }
    .services__item-img {
        max-height: 8.75rem;
    }

}
@media(max-width: 360px) {
    .header__content-title {
        font-size: 3.125rem;
    }
    .project__item-img {
        max-width: 16.875rem;
    }
    .project__text {
        font-size: 1rem;
        line-height: 130%;
    }
    .contacts__area {
        margin-bottom: 1.875rem;
    }
    .header__content-img {
        max-width: 60%;
        margin: 0 0 0 4.6875rem;
    }
}